<a href="https://colab.research.google.com/github/HerrSorokin/Quantum_Internship/blob/main/Task_3/Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Regression on the tabular data

You have a dataset (internship_train.csv) that contains 53 anonymized features and a target column. Your task is to build model that predicts a target based on the proposed features. Please provide predictions for internship_hidden_test.csv file. Target metric is RMSE. The main goal is to provide github repository that contains:
jupyter notebook with analysis; 
code for modeling (Python 3); 
file with model predictions; 
readme file;
requirements.txt file.

In [ ]:
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, Normalizer
from sklearn.metrics import mean_squared_error
from math import sqrt

In [ ]:
data = pd.read_csv ('internship_train.csv')   
df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,target
0,236,488,16,221,382,97,-4.472136,0.107472,0,132,...,13.340874,0.870542,1.962937,7.466666,11.547794,8.822916,9.046424,7.895535,11.010677,20.107472
1,386,206,357,232,1,198,7.810250,0.763713,1,143,...,12.484882,7.168680,2.885415,12.413973,10.260494,10.091351,9.270888,3.173994,13.921871,61.763713
2,429,49,481,111,111,146,8.602325,0.651162,1,430,...,14.030257,0.394970,8.160625,12.592059,8.937577,2.265191,11.255721,12.794841,12.080951,74.651162
3,414,350,481,370,208,158,8.306624,0.424645,1,340,...,2.789577,6.416708,10.549814,11.456437,6.468099,2.519049,0.258284,9.317696,5.383098,69.424645
4,318,359,20,218,317,301,8.124038,0.767304,1,212,...,1.886560,1.919999,2.268203,0.149421,4.105907,10.416291,6.816217,8.586960,4.512419,66.767304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,328,44,320,364,7,73,4.898979,0.563878,1,315,...,0.266362,6.185887,7.716837,10.144664,1.711649,3.849704,12.401903,14.195540,2.371207,24.563878
89996,217,472,174,327,255,389,-3.605551,0.861690,0,144,...,5.147059,4.209660,14.482770,1.375031,6.386263,10.107582,12.637902,6.576331,6.863238,13.861690
89997,189,406,213,57,494,190,6.164414,0.633704,1,221,...,14.902807,2.886534,8.683168,4.522339,1.556421,10.971184,7.792226,8.422623,3.041409,38.633704
89998,418,478,163,35,390,77,-3.605551,0.687309,0,289,...,12.743029,2.525611,11.050145,6.589943,12.622192,10.596839,0.647584,8.746364,1.246682,13.687309
89999,244,335,337,152,386,202,7.681146,0.613207,1,26,...,11.069077,6.303448,14.031393,1.877340,13.361607,2.164695,11.255181,3.404303,9.587379,59.613207

In [ ]:
# поділимо дані на ознаки та їх значення
data, label = np.array(df)[:, 0:53], np.array(df)[:, 53]
data_train, data_test, label_train, label_test = train_test_split(data, label, random_state=0)

In [ ]:
#застосуємо поліноміальну регресію
lr = linear_model.LinearRegression()
pf2=PolynomialFeatures()   

lr.fit(pf2.fit_transform(data_train) , label_train)
lr_pred = lr.predict(pf2.fit_transform(data_test))

In [ ]:
#RMSE
mean_squared_error(label_test, lr_pred, squared = False)

1.9883401876646055e-10

In [ ]:
data = pd.read_csv ('internship_hidden_test.csv')   
dt = pd.DataFrame(data)
dt

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
0,259,388,402,340,156,382,3.316625,0.218760,1,164,...,7.163474,10.227235,0.889111,9.190222,4.670908,0.931525,7.634177,0.158196,13.432551,2.511191
1,441,192,381,421,452,123,-8.888194,0.700228,0,349,...,10.619064,9.339161,4.221861,0.595563,13.865748,0.328453,11.507599,9.107966,1.302407,11.105604
2,83,129,107,156,247,191,2.645751,0.494556,1,297,...,1.819890,10.670237,10.350867,5.134417,5.898995,8.374986,4.638049,3.160023,2.243799,5.073030
3,183,438,191,116,491,403,-6.164414,0.511117,0,272,...,4.168135,12.782579,0.513072,0.321295,11.334062,11.735511,1.911520,8.365676,4.877288,11.601819
4,449,156,310,188,279,465,8.000000,0.756416,1,90,...,7.908122,1.140498,14.165074,7.688796,5.079241,8.152186,1.680403,13.215111,5.823109,1.038015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,221,246,314,406,464,317,6.708204,0.436684,1,205,...,1.272356,12.306512,7.778209,5.698493,10.023215,4.959409,4.056025,4.642375,4.533745,6.754558
9996,152,157,32,133,369,261,5.656854,0.986208,1,457,...,2.331195,13.176561,6.697370,4.119232,2.190155,14.555999,7.786794,9.414130,5.413161,4.134093
9997,349,240,355,97,93,176,4.690416,0.830543,1,287,...,14.423037,0.941523,3.555292,12.572057,7.058367,12.999451,1.901825,5.100031,1.498432,8.093801
9998,427,70,63,265,62,150,4.000000,0.502337,1,124,...,1.154640,1.593796,9.902159,2.548667,11.339210,14.192310,14.142207,9.966924,8.538981,7.036367
9999,144,216,66,452,382,307,9.539392,0.986542,1,40,...,2.794024,14.724772,3.093617,3.681825,11.427112,5.748047,8.053866,0.729627,0.767049,9.541795

In [ ]:
dt = np.array(dt)
dt

array([[2.59000000e+02, 3.88000000e+02, 4.02000000e+02, ...,
        1.58195658e-01, 1.34325512e+01, 2.51119147e+00],
       [4.41000000e+02, 1.92000000e+02, 3.81000000e+02, ...,
        9.10796559e+00, 1.30240742e+00, 1.11056039e+01],
       [8.30000000e+01, 1.29000000e+02, 1.07000000e+02, ...,
        3.16002334e+00, 2.24379899e+00, 5.07302983e+00],
       ...,
       [3.49000000e+02, 2.40000000e+02, 3.55000000e+02, ...,
        5.10003085e+00, 1.49843167e+00, 8.09380144e+00],
       [4.27000000e+02, 7.00000000e+01, 6.30000000e+01, ...,
        9.96692372e+00, 8.53898137e+00, 7.03636660e+00],
       [1.44000000e+02, 2.16000000e+02, 6.60000000e+01, ...,
        7.29626760e-01, 7.67049219e-01, 9.54179534e+00]])

In [ ]:
fin_pred = lr.predict(pf2.fit_transform(dt))
fin_pred

array([11.21876001, 79.70022802,  7.49455605, ..., 22.83054269,
       16.50233653, 91.98654207])

In [ ]:
fin_pred = pd.DataFrame(data = fin_pred, columns = ['target'])
fin_pred.to_csv('internship_test_results.csv')